@import "tailwindcss";

@import 'primeicons/primeicons.css';

@theme {

    /* fonts */
    --font-sans: "Poppins", sans-serif;

    /* mobile */
    --breakpoint-s: 320px;
    --breakpoint-m: 375px;
    --breakpoint-l: 425px;

    /* tablet */
    --breakpoint-md: 768px;

    /* laptop  */
    --breakpoint-lg: 1024px;
    --breakpoint-xl: 1440px;

}